# Ignore all .Identifier files
*.Identifier

# vscode extension build files
*.vsix

# claude code local
.claude/

# display test files
display_test/

references/*
!references/

!references/sense_ug_N-2017.09.pdf.md
!references/assets/
references/assets/*
!references/assets/sense_ug_N-2017.09.pdf/