# Ignore all .Identifier files
*.Identifier

# vscode extension build files
*.vsix

# npm dependencies
node_modules/

# claude code local
.claude/

# display test files
display_test/
benchmarks/

# cache files
*.pyc
*.pyd
build/
*_b*_enhanced.json
temp/

TODOLIST.md

# references but not md/par files
references/*
!references/*.md
!references/MaterialDB/